
 <!-- <mat-toolbar color="primary" class="pmi-toolbar" style="background-color: steelblue" *ngIf="isLoggedIn$ | async">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <h1 class="pmi-app-name">PMI</h1>
  </mat-toolbar>

  <mat-sidenav-container class="pmi-sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list>
        <div>
          <img src="assets/img/abstract_smooth_wave_background_vector_grapihic_art_569579.jpg"
               class="img-responsive" alt="Avatar"></div>
        <a mat-list-item class="active" [routerLink]="['/dashboard']">Home</a>
        <a mat-list-item style="cursor: pointer">My To Do</a>
        <a mat-list-item style="cursor: pointer">Settings</a>
        <a mat-list-item style="cursor: pointer">Resources</a>
        <a mat-list-item style="cursor: pointer">About Us</a>
        <a mat-list-item style="cursor: pointer">Contact</a>
      </mat-nav-list>
      <mat-divider></mat-divider>
      <mat-nav-list>


        <a mat-list-item style="cursor: pointer" *ngIf="isLoggedIn$ | async"><span class="glyphicon glyphicon-user"></span> {{ currentUser.name }}</a>


        <a mat-list-item href="#" (click)="logOut()"><span class="glyphicon glyphicon-log-in"></span> Sign Out</a>
      </mat-nav-list>
    </mat-sidenav>
  </mat-sidenav-container>
-->

 <mat-sidenav-container class="all-wrap" fullscreen *ngIf="isLoggedIn$ | async">
   <mat-sidenav #sidenav>
     <mat-nav-list>
       <a mat-list-item class="active" [routerLink]="['/dashboard']">Home</a>
       <a mat-list-item style="cursor: pointer">My To Do</a>
       <a mat-list-item style="cursor: pointer">Settings</a>
       <a mat-list-item style="cursor: pointer">Resources</a>
       <a mat-list-item style="cursor: pointer">About Us</a>
       <a mat-list-item style="cursor: pointer">Contact</a>
     </mat-nav-list>
     <mat-divider></mat-divider>
     <mat-nav-list>


       <a mat-list-item style="cursor: pointer" *ngIf="isLoggedIn$ | async"><span class="glyphicon glyphicon-user"></span> {{ currentUser.name }}</a>


       <a mat-list-item href="#" (click)="logOut()"><span class="glyphicon glyphicon-log-in"></span> Sign Out</a>
     </mat-nav-list>
   </mat-sidenav>

   <div class="page-wrap">
     <header role="banner">
       <mat-toolbar color="primary" class="pmi-toolbar" style="background-color: steelblue">
         <button
           type="button"
           mat-icon-button
           (click)="sidenav.open()"
           title="Open sidenav">
           <mat-icon>menu</mat-icon>
         </button>
         PMI
       </mat-toolbar>
     </header>
     <main class="content">
       <router-outlet></router-outlet>
     </main>
     <footer>
       Your sticky footer with a variable height.
     </footer>
   </div>
 </mat-sidenav-container>
