<form (ngSubmit)="f.form.valid && register(f.form)" #f="ngForm" novalidate>
<div class="container">
  <strong>User Registration</strong>
  <div *ngIf="successMsg">{{successMsg.message}}</div>
  <hr>
  <label for="fullName"><b>Full Name</b></label>
  <input type="text" id="fullName" placeholder="Enter Full Name" name="name" [(ngModel)]="user.name" #fullName="ngModel"  required>
  <div *ngIf="fullName.dirty && fullName.errors" class = "error">
    <div *ngIf="fullName.errors['required']">
      Full Name is required
    </div>
  </div>
  <label for="userName"><b>User Id</b></label>
  <input type="text" id="userName" placeholder="Enter User Id" name="usernameOrEmail" required app-usernameExists [(ngModel)]="user.usernameOrEmail" #userName="ngModel" minlength="5" maxlength="8">
  <div *ngIf="userName.dirty && userName.errors" class = "error">
    <div *ngIf="userName.errors['required']">
      is required (minimum 5 characters).
    </div>
    <div *ngIf="userName.errors['app-usernameExists']">
      Username already exists.
    </div>
    <div *ngIf="userName.pending">
      Hold tight... Checking availability of {{ userName.value }}
    </div>
  </div>
  <label for="email"><b>Email</b></label>
  <input type="text" placeholder="Enter Email" id="email" name="email" [(ngModel)]="user.email" #email="ngModel" required email app-emailExists>
  <div *ngIf="email.dirty && email.errors" class = "error">
    <div *ngIf="email.errors['required']">
      Email required.
    </div>
    <div *ngIf="email.errors['email']">
      Email not valid,should be <i>john@doe.com</i>.
    </div>
    <div *ngIf="email.errors['app-emailExists']">
      Email already exists.
    </div>
  </div>
  <label for="pwd"><b>Password</b></label>
  <input type="password" id="pwd" placeholder="Enter Password" name="password" [(ngModel)]="user.password" #pwd="ngModel" required>

  <div class="form-group">
    <label for="sel1"><b>Roles:</b>&nbsp;&nbsp;</label>
    <select class="form-control" id="sel1" [(ngModel)]="user.roles"  name="roles"  #sel1="ngModel">
      <option *ngFor="let role of allRoles" [ngValue]="role.roleId">
        {{ role.roleType }}
      </option>
    </select>
  </div>
  <hr>

  <p>By creating an account you agree to our <a style="cursor: pointer">Terms & Privacy</a>.</p>
  <button type="submit" class="registerbtn">Register</button>
</div>

<div class="container signin">
  <p>Already have an account? <a [routerLink]="['/login']" class="btn btn-link">Sign in</a>.</p>
</div>
</form>
