

table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
  }

td.mat-cell {
  align-items: center;
  white-space: nowrap;
}

th.mat-header-cell {
  align-items: center;
  padding: 9px;
  font-weight: bolder;
}

.mat-row:hover {
  background-color: #E0E0E0;
}


.btn-file {
  position: relative;
  overflow: hidden;
  background-color: steelblue;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

.yellow{
  background-color: yellow;
}

.amber{
  background-color: gold;
}

.golden{
  background-color: goldenrod;
}
.red{
  background-color: #d9534f;
}

.table{
  border:1px solid;
  padding-top: 5%;
}
.table tr {
  width:7%;
  height:14%;
}


.chart-wrapper {
  background: #fff;
  border: 1px solid #e2e2e2;
  border-radius: 3px;
  margin-bottom: 10px;
}
.chart-wrapper .chart-title {
  border-bottom: 1px solid #d7d7d7;
  color: #666;
  font-size: 14px;
  font-weight: 200;
  padding: 7px 10px 4px;
}

.chart-wrapper .chart-stage {
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 5px 10px;
  position: relative;

  /* make it smooth on iOS */
  -webkit-overflow-scrolling: touch;
}



.keen-dashboard .chart-stage .chart-title {
  border: medium none;
}
