<a [routerLink]="['/dashboard']"><--</a>
<mat-tab-group>
  <mat-tab label="First">
    <div class="table-responsive table-hover">
      <mat-spinner [style.display]="loading ? 'block' : 'none'"></mat-spinner>
      <table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z23" #TABLE>
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Risk Id</th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
        <ng-container matColumnDef="sourceReference">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Source Reference</th>
          <td mat-cell *matCellDef="let element"> {{element.sourceReference}} </td>
        </ng-container>
        <ng-container matColumnDef="crossReference">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Cross Reference</th>
          <td mat-cell *matCellDef="let element"> {{element.crossReference}} </td>
        </ng-container>
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
          <td mat-cell *matCellDef="let element"> {{element.date}} </td>
        </ng-container>
        <ng-container matColumnDef="riskCategory">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Risk Category</th>
          <td mat-cell *matCellDef="let element"> {{element.riskCategory}} </td>
        </ng-container>
        <ng-container matColumnDef="riskDescription">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Risk Description</th>
          <td mat-cell *matCellDef="let element"> {{element.riskDescription}} </td>
        </ng-container>
        <ng-container matColumnDef="pic">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> PIC </th>
          <td mat-cell *matCellDef="let element"> {{element.pic}} </td>
        </ng-container>
        <ng-container matColumnDef="impact">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Impact </th>
          <td mat-cell *matCellDef="let element"> {{element.impact}} </td>
        </ng-container>
        <ng-container matColumnDef="likelihood">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Likelihood </th>
          <td mat-cell *matCellDef="let element"> {{element.likelihood}} </td>
        </ng-container>
        <ng-container matColumnDef="severity">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Severity </th>
          <td mat-cell *matCellDef="let element"> {{element.severity}} </td>
        </ng-container>
        <ng-container matColumnDef="response">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Response </th>
          <td mat-cell *matCellDef="let element"> {{element.response}} </td>
        </ng-container>
        <ng-container matColumnDef="responsePlan">
          <th mat-header-cell *matHeaderCellDef> Response Plan </th>
          <td mat-cell *matCellDef="let element"> {{element.responsePlan}} </td>
        </ng-container>
        <ng-container matColumnDef="targetDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Target Date </th>
          <td mat-cell *matCellDef="let element"> {{element.targetDate}} </td>
        </ng-container>
        <ng-container matColumnDef="addToDo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Add To Do </th>
          <td mat-cell *matCellDef="let element"> {{element.addToDo}} </td>
        </ng-container>
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
          <td mat-cell *matCellDef="let element"> {{element.status}} </td>
        </ng-container>
        <ng-container matColumnDef="convertToIssue">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Convert To Issue </th>
          <td mat-cell *matCellDef="let element"> {{element.convertToIssue}} </td>
        </ng-container>
        <ng-container matColumnDef="cost">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Cost </th>
          <td mat-cell *matCellDef="let element"> {{element.cost}} </td>
        </ng-container>
        <ng-container matColumnDef="currency">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Currency </th>
          <td mat-cell *matCellDef="let element"> {{element.currency}} </td>
        </ng-container>
        <ng-container matColumnDef="schedule">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Schedule</th>
          <td mat-cell *matCellDef="let element"> {{element.schedule}} </td>
        </ng-container>
        <ng-container matColumnDef="duration">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Duration </th>
          <td mat-cell *matCellDef="let element"> {{element.duration}} </td>
        </ng-container>
        <ng-container matColumnDef="impactDetails">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Impact Details </th>
          <td mat-cell *matCellDef="let element"> {{element.impactDetails}} </td>
        </ng-container>
        <ng-container matColumnDef="rank">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Rank</th>
          <td mat-cell *matCellDef="let element"> {{rank[element.likelihood+'#'+element.severity]}} </td>
        </ng-container>
        <ng-container matColumnDef="derivative">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Derivative </th>
          <td mat-cell *matCellDef="let element"> {{element.derivative}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="headerArr; sticky: true"></tr>
        <tr mat-row  *matRowDef="let row; columns: headerArr;"></tr>
      </table>
      <mat-paginator  showFirstLastButtons [pageSizeOptions]="[3]"></mat-paginator>
    </div>
    <br>
    &nbsp;&nbsp; <button mat-raised-button style="background-color: steelblue" (click)="ExportTOExcel()">Export</button>
    &nbsp;&nbsp;
    <span class="btn btn-default btn-file" style="alignment: center">
    Import <input type="file" (change)="incomingfile($event)"  accept=".xlsx">
</span>
    &nbsp;&nbsp;
    <button mat-raised-button style="background-color: steelblue">Save</button>

  </mat-tab>
  <mat-tab label="Second">
    <table class="table">
      <tr *ngFor="let tabs of ta">
        <td *ngFor="let tabsd of tabs" [ngClass]= getCss(tabsd) >
          {{tabsd}}
          {{getCss(tabsd)}}
        </td>
      </tr>
    </table>
    <hr>
    <google-chart
      [title]="title"
      [type]="type"
      [data]="myData"
      [columnNames]="columnNames"
      [roles]="roles">
    </google-chart>

    <google-chart
      [title]="areatitle"
      [type]="areaType"
      [data]="areaData"
      [columnNames]="columnNamesArea"
      [roles]="roles"
      [options]="options">
    </google-chart>

  </mat-tab>
</mat-tab-group>

