

table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
  }

.mat-cell {
  align-items: center;
  white-space: nowrap;
}

th.mat-header-cell {
  align-items: center;
  padding: 9px;
  background-color: steelblue;
}

.mat-row:hover {
  background-color: #E0E0E0;
}


