<input type="file" style="display: inline-block;width: 63%;" (change)="incomingfile($event)" placeholder="Upload file" accept=".xlsx">
<button (click)="getData()">hit</button>
<div class="container">
  <div class="table-responsive-sm table-hover table-sm">
    <table class="table" *ngIf="dataArr" [mfData]="dataArr" #mf="mfDataTable" [mfRowsOnPage]="5">
      <thead class="thead-light">
      <tr>
        <th *ngFor="let header of headerArr">
          <mfDefaultSorter by={{header}}>{{header}}</mfDefaultSorter></th>
      </tr>
      </thead>
      <tbody>
      <!-- BIND ARRAY TO TABLE -->
      <tr *ngFor="let bird of mf.data">
        <td *ngFor="let header of headerArr">{{bird[header]}}</td>
      </tr>
      </tbody>
      <tfoot>
      <tr>
        <td colspan="1000" >
          <mfBootstrapPaginator [rowsOnPageSet]="[dataArr]"></mfBootstrapPaginator>
        </td>
      </tr>
      </tfoot>
    </table>
  </div>
</div>
