
<div class="slider">
  <div>
    <div class="row">
      <div class="column">
        <div class="card">
          <a [routerLink]="['/riskTab']">Risk</a>
        </div>
      </div>

    <div class="column">
      <div class="card">
        <a style="cursor: pointer">Cost</a>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <a style="cursor: pointer">Schedule</a>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <a style="cursor: pointer">Integration</a>
      </div>
    </div>

      <div class="column">
        <div class="card">
          <a style="cursor: pointer">Issue</a>
        </div>
      </div>


      <div class="column">
        <div class="card">
          <a style="cursor: pointer">Funding</a>
        </div>
      </div>

      <div class="column">
        <div class="card">
          <a style="cursor: pointer">Scope</a>
        </div>
      </div>

      <div class="column">
        <div class="card">
          <a style="cursor: pointer">Stakeholder</a>
        </div>
      </div>

  </div>
  </div>

  <div>

    <div class="row">
    <div class="column">
      <div class="card">
        <a style="cursor: pointer">Communication</a>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <a style="cursor: pointer">Procurement</a>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <a style="cursor: pointer">Health</a>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <a style="cursor: pointer">Repository</a>
      </div>
    </div>
      <div class="column">
        <div class="card">
          <a style="cursor: pointer">Benefit</a>
        </div>
      </div>

      <div class="column">
        <div class="card">
          <a style="cursor: pointer">To Do</a>
        </div>
      </div>

      <div class="column">
        <div class="card">
          <a style="cursor: pointer">Lessons Learnt</a>
        </div>
      </div>

      <div class="column">
        <div class="card">
          <a style="cursor: pointer">Quality</a>
        </div>
      </div>
  </div>
  </div>

  <div>
    <div class="row">
    <div class="column">
      <div class="card">
        <a style="cursor: pointer">Human Resource</a>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <a style="cursor: pointer">Log</a>
      </div>
    </div>


  </div>
  </div>
</div>
