<form name="form-signin" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
  <div class="imgcontainer">
    <img src="assets/img/avatar2.png" alt="Avatar" class="avatar">
  </div>
  <div class="alert alert-danger" role="alert" *ngIf="errorMessage">{{errorMessage}}</div>
  <div class="container">
    <label for="username"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" id="username" name="uname" [(ngModel)]="user.usernameOrEmail" #username="ngModel"  required>
   <div *ngIf="f.submitted && !username.valid" class="help-block">an valid username or email is required</div>
    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" id="password" name="psw" [(ngModel)]="user.password" #password="ngModel" required>
    <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
    <button [disabled]="loading" type="submit">Login</button>
    <div class="checkbox checkbox-slider--b-flat checkbox-slider-md">
      <label>
        <input type="checkbox" checked=""><span>&nbsp;Remember Me</span>
      </label>
    </div>
  </div>

 <div class="register">
    <p>Not Registered? <a [routerLink]="['/register']" class="btn btn-link">Register</a><p>
  </div>
 </form>
